<div class="contact-info" itemprop="name">
  <div>$it.name$</div>
  <div>$it.title$</div>
</div>
<div class="contact-info" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <div itemprop="streetAddress">$it.street$</div>
  <div><span itemprop="postalCode">$it.zipcode$</span> <span itemprop="addressLocality">$it.town$</span></div>
</div>
<div class="contact-info">
  <div>Telefon <span itemprop="telephone">$it.phone$</span></div>
  <div><script type='text/javascript'>var a = new Array('enkrais.ch','m.niederberg','er@feld');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+"'>"+a[1]+a[2]+a[0]+"</a>");</script></div>
</div>
<a id="maplink" href="/downloads/$it.map$">Lageplan</a>
