$if(body)$
<section$if(slug)$ id="$slug$" class="smaller-text"$elseif(nav-index)$ class="section-home"$elseif(nav-kontakt)$ itemscope itemtype="http://schema.org/Organization"$endif$>
<div class="content-area">
<div class="content-overlays"><div><div class="ol1"></div><div class="ol2"></div></div></div>
<div class="content">
<div class="tagline"><p>bewegen<br />wahrnehmen<br />denken<br />fühlen</p></div>

$if(quote)$
<figure class="quote">
  <blockquote>$quote$</blockquote>
  <figcaption>Moshé Feldenkrais</figcaption>
</figure>
$elseif(gallery)$
<div class="gallery">
$for(gallery/pairs)$
  <a href="/img/$it.value$"><img src="/img/$it.key$" /></a>
$endfor$
</div>
$endif$

$if(title)$
<h1>$title$</h1>
$endif$

$if(contact)$
${contact:contact()}
$else$
$body$
$endif$

$if(news)$
<div class="news">
  <h1>Aktuell</h1>
$for(news)$
  <p><a href="/downloads/$it.file$">$it.description$</a></p>
$endfor$
</div>
$endif$

</div> <!-- end .content -->
</div> <!-- end .content-area -->
$if(image)$<div class="image-area$if(image-extra)$ two-images$endif$"><img src="/img/$image$" />$if(image-extra)$<img src="/img/$image-extra$" />$endif$</div>$endif$
</section>
$endif$
