/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import "normalize";
@import "magnific-popup";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

@mixin ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

@mixin visuallyhidden-focusable {
  @include visuallyhidden;
  &:active, &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

@mixin invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

@mixin clearfix {
  *zoom: 1; /* For IE 6/7 only, trigger hasLayout */
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear:both;
  }
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

/* layout & geometry variable declarations */
$page-margin:120px;
$page-padding:33px;
$max-width:1200px;


/* Fonts mixins ------------------------------------------------------------- */

/* font stack mixins, served by fonts.com */
@mixin font-light {
  font-family:'Neue Helvetica W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:300;
  font-variant:normal;
}
@mixin font-normal {
  font-family:'Neue Helvetica W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:400;
  font-variant:normal;
}
@mixin font-bold {
  font-family:'Neue Helvetica W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:600;
  font-style:normal;
}
@mixin font-heavy {
  font-family:'Neue Helvetica W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
  font-style:normal;
}
@mixin font-serif {
  font-family:'ITC Legacy Serif W01', Georgia, serif;
  font-weight:300;
  font-style:italic;
}


/* Basic Styles ------------------------------------------------------------- */

html {
  @include font-light;
  font-size:18px;
  line-height:1.25; /* originally 25px */
}

p {
  margin:0 0 1em;
}

a {
  @include font-normal;
  font-size:12px;
  text-transform:uppercase;
  color:inherit;
}

h1 {
  @include font-heavy;
  font-size:15px;
  line-height:1.666667;
  text-transform:uppercase;
  /*margin:1em 0 1.75em;*/
  margin:0 0;
}

h2 {
  @include font-heavy;
  font-size:inherit;
  line-height:inherit;
  margin:0;
}

.content ul {
  list-style-type:none;
  padding:0 1.4em;
  margin:0 0 1em;
  li {
    position:relative;
    &:before {
      content:"—";
      display:block;
      position:absolute;
      top:0;
      left:-1.4em;
    }
  }
}


/* Navigation --------------------------------------------------------------- */

body>header {
  position:fixed;
  top:0; right:0; left:0;
  z-index:4;
  &:before {
    content:"";
    position:absolute;
    top:0; right:50%; bottom:0; left:0;
    max-width:$max-width / 2;
    background-color:rgb(231,117,27);
    opacity: 0.7;
    filter: alpha(opacity=70);
      -webkit-transition: opacity 0.3s ease-out;
         -moz-transition: opacity 0.3s ease-out;
           -o-transition: opacity 0.3s ease-out;
              transition: opacity 0.3s ease-out;
  }
  nav {
    position:relative;
    max-width:$max-width;
    /*margin:0 auto;*/
    &:before {
      content:"";
      position:absolute;
      top:0; right:0; bottom:0; left:50%;
      background-color:rgb(231,117,27);
      opacity: 0.7;
      filter: alpha(opacity=70);
      -webkit-transition: opacity 0.3s ease-out;
         -moz-transition: opacity 0.3s ease-out;
           -o-transition: opacity 0.3s ease-out;
              transition: opacity 0.3s ease-out;
    }
    &>ul {
      @include clearfix;
      margin:0 auto;
      max-width:$max-width - 2 * $page-margin - $page-padding;
      padding:0 0 0 $page-padding;
      position:relative;
      &>li {
        float:left;
        width:23%;
        padding-bottom:13px;
        &:first-child {
          width:19%;
        }
        &:last-child {
          width:12%;
        }
      }
      ul {
        margin:0;
        padding:0;
        a {
          padding:0;
        }
      }
    }
  }
  a {
    @include font-bold;
    text-decoration:none;
    font-size:12px;
    letter-spacing:1px;
    line-height:1.5; /* 18px */
    color:black;
    display:block;
    padding:13px 0 0;
    &:active, &:focus {
      outline:0;
    }
  }
  .selected>a, a:hover {
    color:white;
  }
  &:hover {
    &:before, nav:before {
      opacity: 0.9;
      filter: alpha(opacity=90);
    }
  }
}


/* Layout with Tagline & Quote ---------------------------------------------- */

body {
  max-width:$max-width;
  margin-bottom:300px;
}

.content {
  position:relative;
  max-width:$max-width - 2 * $page-margin - 2 * $page-padding;
  margin:0 auto 39px;
  padding:120px $page-padding 0;
  z-index:3;
}

.content-area {
  position:relative;
  padding-bottom:1px;
}

.image-area {
  position:relative;
  margin:30px auto;
  max-width:$max-width;
  /*z-index:-1;*/
  img {
    max-width:100%;
  }
}

.tagline {
  text-transform:uppercase;
  color:white;
  @include font-heavy;
  font-size:20px;
  line-height:1.1;
  letter-spacing:1px;
  padding:25px 0;
  @include clearfix;
  p {
    float:left;
    position:relative;
    z-index:2;
  }
}

.quote {
  position:absolute;
  top:125px;
  right:$page-padding;
  padding-left:$page-padding;
  margin:0;
  blockquote {
    @include font-serif;
    max-width:340px - $page-padding;
    font-size:24px;
    line-height:1.25; /* originally 1.2 for 30/36, now 24/30 */
    color:white;
    margin:0;
    &:before {
      content:"«";
    }
    &:after {
      content:"»";
    }
  }
  figcaption {
    max-width:340px - $page-padding;
    color:white;
    font-size:0.5em;
    padding:0.5em 0 1em;
    cite {
      font-style:inherit;
    }
  }
}


/* Overlays ----------------------------------------------------------------- */

.content-overlays {
  position:absolute;
  top:0; bottom:0; left:0; right:0;
  z-index:0;
  &>div {
    position:relative;
    margin:0 auto;
    max-width:$max-width - 2 * $page-margin;
    height:100%;
  }
  .ol1 {
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    background-color:rgb(231,117,24);
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
  .ol2 {
    position:absolute;
    top:0; right:- $page-margin; bottom:- 2 * $page-padding; left:$page-padding;
    background-color:rgb(208,149,50);
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}


/* Page specific styles ----------------------------------------------------- */

.smaller-text .content>p {
  font-size:17px;
}

.columns {
  @include clearfix;
  margin-right:-  $page-padding;
}

.column {
  float:left;
  width:33.3333%;
  font-size:17px;
  line-height:1.29412; /* 22px */
  padding-bottom:40px;
  margin-bottom:-1em;
  &>* {
    padding-right:$page-padding;
  }
  h2 {
    font-size:16px;
    line-height:1.375; /* 22px */
  }
  ul+p {
    margin-top:2em;
  }
}

.columns.alternate {
  .column {
    padding-bottom:0;
  }
  ul {
    padding-left:0;
  }
  li:before {
    content:none;
  }
  ul+p {
    margin-top:0;
  }
}

p+.segment {
  margin-top:-1em;
}

.segment {
  margin-bottom:2em;
}

.image-area.two-images {
  position:relative;
  img:first-child {
    max-width:79.5145631%; /* image ratio with 30px gutter */
  }
  img:last-child {
    max-width:17.5728155%; /* image ratio with 30px gutter */
    position:absolute;
    top:0; right:0;
  }
}

.gallery {
  @include clearfix;
  position:absolute;
  top:2.5 * $page-padding; right:1.5 * $page-padding;
  margin-right:-10px;
  z-index:1;
  a {
    float:left;
    display:block;
    max-width:25%;
    width:107px;
  }
  img {
    padding-right:10px;
  }
}

.alternate-design {
  @include font-normal;
  font-size:24px;
  line-height:1.458333333; /* 35px */
  .content-overlays .ol1 {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  &>header:before, &>header nav:before {
    content:none;
  }
  nav>ul>li {
    background-color:rgb(219,133,37);
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  .quote blockquote {
    font-size:30px;
    line-height:1.2; /* 30/36 */
  }
}

.section-home {
  .tagline {
    padding-bottom:9px;
  }
  .quote {
    top:auto;
    bottom:0;
  }
  .content {
    padding-top:30px;
    padding-bottom:170px;
  }
  .image-area {
    margin-top:0;
    max-width:$max-width - 2 * $page-margin;
  }
  .news {
    position:absolute;
    top:100%;
    left:$page-padding;
    margin-top:-170px;
    margin-right:340px + $page-padding;
    padding-bottom:1em;
    p {
      line-height:1.4;
      margin-bottom:0.8em;
      font-size:16px;
    }
    a {
      font-size:inherit;
    }
  }
}

.contact-info {
  margin-bottom:1em;
  line-height:1.2em;
  a {
    text-transform:none;
    font-size:inherit;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}


/* ==========================================================================
   Media Queries for Responsive Design. These override the primary styles.
   ========================================================================== */

/* Style adjustments for medium and narrow viewports */
@media only screen and (max-width: 40em) {

  body {
    margin-bottom:0;
  }

  body>header nav ul>li {
    clear:left;
    padding-bottom:0;
    width:100% !important;
    a {
      padding:0.25em 0;
    }
    ul {
      position:absolute;
      top:0; left:50%;
    }
  }

  .content, .section-home .content {
    padding-top:150px;
  }

  .quote, .tagline {
    display:none;
  }

  .section-home .quote {
    display:block;
  }

  .section-home .news {
    position:relative;
    margin:0;
    left:0;
  }

  .column {
    float:none;
    width:100%
  }

  .gallery {
    position:relative;
    padding-bottom:1em;
    top:0; right:0;
    margin-right:- $page-padding;
  }

} /* end of medium and narrow viewport rules */


/* Style adjustments for narrow viewports */
@media only screen and (max-width: 20em) {

  body>header>nav ul>li ul {
    display:none;
  }

  .section-home .quote blockquote {
    font-size:24px;
    line-height:1.25; /* originally 1.2 for 30/36, now 24/30 */
  }

  .section-home .news {
    padding-bottom:0;
    p {
      font-size:12px;
    }
  }

  .alternate-design {
    font-size:inherit;
    line-height:inherit;
  }

} /* end of narrow viewport rules */


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    body>header {
      display:none;
    }

    .gallery a:after, .contact-info a:after {
      content:none;
    }

    .tagline, .quote, section {
      page-break-inside: avoid;
    }

} /* end print styles */
